</br>
<div class="text-center">
  <h1>about　MY WEAR</h1>
  </br>
  <div class="about-back-ground"></div>
  </br>
  </br>
  <h5>納得のいくものを気軽に</h5>
  </br>
  <p>気になるお洋服を見つけても、自分に似合うかわからない…ということはありませんか？</p>
  <p>MWでは、まるで店頭で店員やお友達に相談しながらショッピングを楽しんでいるかのように</p>
  <p>ご自身に合う商品を選び、購入することができます。</p>
  <p>商品のレビューを共有しながら、ご自身にぴったりの一着を見つけてください。</p>
  </br>
</div>
