<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "public/search" %>
    </div>
    <div class="col-9">
      <h5>new arrivals</h5>
      <ul class="bxslider">
        <%= @items.first(3).each do |item| %>
          <%= attachment_image_tag item, :image, format: 'jpg', size: "200x200" %>
        <% end %>
     </ul>


    </div>
  </div>
</div>
