<div class="container">
  <div class="row">
    <h1 class="mx-auto">TOPページ</h1>
  </div>
  </br>
  <div class="row">
    <div  class="col-1">
    </div>
    <div  class="col-4">
      <%= link_to admin_genres_path do %>
        <div class="link_btn">
          <span>
            ジャンルの新規登録</br>
            ジャンルのご確認はこちら
          </span>
        </div>
      <% end %>
    </div>
    <div  class="col-2">
    </div>
    <div  class="col-4">
      <%= link_to admin_items_path do %>
        <div class="link_btn">
          <span>
            商品の新規登録</br>
            各商品・レビューの</br>
            ご確認はこちら
          </span>
        </div>
      <% end %>
    </div>
    <div  class="col-1">
    </div>
  </div>
    </br>
  <div class="row">
    <div  class="col-1">
    </div>
    <div  class="col-4">
      <%= link_to admin_customers_path do %>
        <div class="link_btn">
          <span>
            会員情報の</br>
            ご確認はこちら
          </span>
        </div>
      <% end %>
    </div>
    <div  class="col-2">
    </div>
    <div  class="col-4">
      <%= link_to admin_orders_path do %>
        <div class="link_btn">
          <span>
            注文履歴一覧の</br>
            ご確認はこちら
          </span>
        </div>
      <% end %>
    </div>
    <div  class="col-1">
    </div>
  </div>
</div>
