<h1>TOPページ</h1>

<div>
  <%= link_to "ジャンル新規登録/一覧", admin_genres_path %>
</div>
<div>
  <%= link_to "商品新規登録/一覧", admin_items_path %>
</div>
<div>
  <%= link_to "会員一覧", admin_customers_path %>
</div>
<div>
  <%= link_to "注文履歴一覧", admin_orders_path %>
</div>
