<div class="container">
  <h2>注文履歴</h2>
  </br>
  <% @orders.each do |order| %>
    <div class="row">
      <table class="table table-borderless table-sm col-3">
        <tbody>
          <tr>
            <th>注文日</th>
            <td><%= order.updated_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th>注文番号</th>
            <td><%= order.id %></td>
          </tr>
          <tr>
            <th>支払金額</th>
            <td>￥<%= (order.total_payment).to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
      <div class="col-2 d-flex align-items-center mb-3">
        <td><%= link_to "詳細", order_path(order.id), class:"btn btn-outline-dark btn-sm" %></td>
      </div>
    </div>
  <% end %>
</div>