
footer{
  width: 100%;
  height: 70px;
}

.footer-text{
  color: white;
  text-align: center;
}

.about-back-ground{
  width: 100%;
  height: 300px;
  background-image: image-url('shutterstock_1717285603.jpg');
  background-size: contain;
}

.news1{
  width: 80%;
  height: 200px;
  background-image: image-url('shutterstock_1283859631.jpg');
  background-size: contain;
}

.news1-content{
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
}

.news1-text{
  text-align: center;
  font-weight: bold;
  font-family:"Noto Sans JP";
}

.news2{
  width: 80%;
  height: 200px;
  background-color: green;
}

.news2-text{
  color: white;
  font-weight: lighter;
  font-family:"Yu Gothic";
  font-size: 30px;
}

.thanks-back-ground{
  width: 500px;
  height: 200px;
  background-image: image-url('shutterstock_2045466551.jpg');
  background-size: contain;
}

.link_btn{
  display: flex;
	justify-content: center;
	align-items: center;
  width: 300px;
  height: 200px;
  background-color: rgba(239, 129, 52, 1);
  border-radius: 35px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}




@import 'jquery.bxslider.scss'
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
